<!DOCTYPE html>
<html>
<head>
    <title>Lista de Libros</title>
</head>
<body>

<h1>Lista de Libros</h1>

<a href="{% url 'crear_libro' %}">Nuevo Libro</a>

<br><br>

<table border="1">
    <tr>
        <th>Título</th>
        <th>Autor</th>
        <th>Acciones</th>
    </tr>

    {% for libro in libros %}
    <tr>
        <td>{{ libro.titulo }}</td>
        <td>{{ libro.autor.nombre }}</td>
        <td>
            <a href="{% url 'editar_libro' libro.id %}">Editar</a>
            <a href="{% url 'eliminar_libro' libro.id %}">Eliminar</a>
        </td>
    </tr>
    {% endfor %}

</table>

</body>
</html>
